html {
  height: 100%; }

body {
  height: inherit;
  font-family: "Orbitron";
  margin: 0;
  color: white; }

a {
  color: white; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.main-container {
  overflow: hidden;
  height: 100%;
  overflow-y: scroll;
  position: relative; }
  .main-container .welcome-container {
    position: absolute;
    display: table;
    min-height: 100%;
    width: 100%;
    background-color: lightblue;
    border: 30px solid white;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .main-container .welcome-container .welcome {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-transform: uppercase;
      font-size: 60px;
      font-weight: 700;
      padding: 50px; }
      .main-container .welcome-container .welcome h1 {
        cursor: default;
        margin-top: 80px;
        margin-bottom: 80px; }
      .main-container .welcome-container .welcome a {
        text-decoration: none; }
  .main-container .news-container {
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-color: lightblue;
    border: 30px solid white;
    padding: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .main-container .news-container .news {
      margin-right: 360px;
      height: 100%;
      width: auto; }
      .main-container .news-container .news h1 {
        font-size: 60px; }
    .main-container .news-container .right-bar {
      float: right; }
      .main-container .news-container .right-bar .bar-container {
        width: 300px;
        height: 220px;
        border: 5px solid white;
        margin-top: 30px;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
        .main-container .news-container .right-bar .bar-container:first-child {
          margin-top: 0px; }
        .main-container .news-container .right-bar .bar-container header {
          border-bottom: 3px solid white;
          position: relative;
          padding-top: 15px;
          padding-bottom: 5px;
          cursor: pointer;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none; }
          .main-container .news-container .right-bar .bar-container header h3 {
            font-weight: 900; }
          .main-container .news-container .right-bar .bar-container header .icon-cross {
            position: absolute;
            font-size: 22px;
            right: 10px;
            top: 50%;
            margin-top: -11px; }
        .main-container .news-container .right-bar .bar-container .content-container {
          padding-top: 5px; }
          .main-container .news-container .right-bar .bar-container .content-container.list-container .list {
            list-style: none; }
