=css3-prefix($property, $value)
  -webkit-#{$property}: #{$value}
  -khtml-#{$property}: #{$value}
  -moz-#{$property}: #{$value}
  -ms-#{$property}: #{$value}
  -o-#{$property}: #{$value}
  #{$property}: #{$value}

=border-radius($radius: 3px)
  +css3-prefix("border-radius", $radius)

=border-box
  +css3-prefix("box-sizing", border-box)

=no-select
  +css3-prefix("user-select", none)

html
  height: 100%

body
  height: inherit
  font-family: "Orbitron"
  margin: 0
  color: white

a
  color: white

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 0

ul
  margin-top: 0px
  margin-bottom: 0px
  padding-left: 0px

.clear:after
  content: ""
  display: block
  clear: both


.main-container
  overflow: hidden
  height: 100%
  overflow-y: scroll
  position: relative
  .welcome-container
    position: absolute
    display: table
    min-height: 100%
    width: 100%
    background-color: lightblue
    border: 30px solid white
    +border-radius(50px)
    +border-box()
    .welcome
      display: table-cell
      vertical-align: middle
      text-align: center
      text-transform: uppercase
      font-size: 60px
      font-weight: 700
      padding: 50px
      h1
        cursor: default
        margin-top: 80px
        margin-bottom: 80px
      a
        text-decoration: none
  .news-container
    position: absolute
    min-height: 100%
    width: 100%
    background-color: lightblue
    border: 30px solid white
    padding: 50px
    +border-radius(50px)
    +border-box()
    .news
      margin-right: 360px
      height: 100%
      width: auto
      h1
        font-size: 60px
    .right-bar
      float: right
      .bar-container
        width: 300px
        height: 220px
        border: 5px solid white
        margin-top: 30px
        font-weight: bold
        padding-left: 15px
        padding-right: 15px
        +border-box()
        &:first-child
          margin-top: 0px
        header
          border-bottom: 3px solid white
          position: relative
          padding-top: 15px
          padding-bottom: 5px
          cursor: pointer
          +no-select()
          h3
            font-weight: 900
          .icon-cross
            position: absolute
            font-size: 22px
            right: 10px
            top: 50%
            margin-top: -11px
        .content-container
          padding-top: 5px
          &.list-container
            .list
              list-style: none