<aside class="right-bar">
  <div class="bar-container">
    <header>
      <h3>List</h3>
      <span class="icon icon-cross"></span>
    </header>
    <div class="content-container list-container"></div>
  </div>
  <div class="bar-container">
    <header>
      <h3>Chat</h3>
      <span class="icon icon-cross"></span>
    </header>
    <div class="content-container chat-container">
      conent
    </div>
  </div>
</aside>
<section class="news">
  <article class="new">
    <h1>Orbitron</h1>
  </article>
</section>